@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}


.container .banner .bnr {
    width: 100%;
    height: 50vw;
}

.product {
    width: 100%;
    height: 50vw;
    justify-content: center;
    align-items: center;
    position: static;
}

.product h3 {
    font-size: 50px;
    /* position: fixed; */
}

.card {
    position: relative;
    width: 25%;
    height: 50vh;
    display: inline-flex;
    margin: 0 35px;
    border: 1px solid black;
    border-radius: 5px;
}

.image {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    height: auto;
    background-color: black;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #0d1214d2;
    /* opacity: 100%; */
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0d1214d2;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.card:hover .overlay {
    bottom: 0;
    height: 100%;
}

.card:hover .overlay2 {
    bottom: 0;
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

footer {
    color: white;
    background-color: rgb(0, 0, 0);
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    height: 20px;
    padding: 20px 20px;
    text-align: center;
    justify-content: center;

}

.icon {
    padding: 0 5px;
    top: 0;
}

.icon::before {
    color: white;
    text-decoration: none;
}

.icon::after {
    color: white;
    text-decoration: none;
}